* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  color: #222;
  position: relative;
  /* overflow-y: auto; */
  overflow-x: hidden;
}
.header {
  width: 100vw;
  height: 100vh;
}
.full-nav {
  background-color: white;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  flex: auto;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 3px 10px grey;
}

.logo h1 {
  text-transform: capitalize;
  letter-spacing: 5px;
  color: #222;
  font-size: 1.35rem;
}
.logo span {
  color: #3fd0d4;
}
.logo i {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 0 5px;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  color: #222;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.15rem;
}
nav a:hover {
  color: #3fd0d4;
  transition: linear 0.3s;
}
@keyframes toggle-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1);
  }
}
.social-media i {
  background-color: white;
  color: #3fd0d4;
  font-size: 1.35rem;
  margin: 0 3px;
  padding: 5px;
  animation-name: toggle-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
.social-media i:hover {
  color: grey;
  transition: linear 0.5s;
  cursor: pointer;
}

/* Landing */
.landing-space {
  width: 100vw;
  margin-top: 10vh;
  height: calc(100vh - 10vh);
  background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/main.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.landing-space h1 {
  word-wrap: break-word;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2.5rem;
}
.landing-space p {
  letter-spacing: 2px;
  font-size: 1.15rem;
  width: 80%;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}
.landing-space button {
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  font-size: 1.25rem;
  border: 2px solid white;
  letter-spacing: 3px;
  padding: 10px;
}
.landing-space button:hover {
  background-color: white;
  color: #3fd0d4;
  transition: linear 0.5s;
  cursor: pointer;
}

/* Media Query One */
@media screen and (max-width: 870px) {
  body {
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100vw;
    height: 100vh;
  }

  .full-nav {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .logo {
    margin: 10px 30px 0px;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
  }
  @keyframes toggle-anim {
    0% {
      transform: scale(1.15, 1.15);
    }
    50% {
      transform: scale(1, 1);
    }
  }
  .logo i {
    display: inline;
    background-color: white;
    color: #3fd0d4;
    font-size: 1.65rem;
    margin: 0 5px;
    animation-name: toggle-anim;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transition: all linear 3s;
  }
  .social-media i {
    display: none;
  }
  .toggler {
    visibility: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;

    margin: 0;
    margin-top: 10px;
    width: 100vw;
  }
  nav a {
    padding: 10px 0px 10px 25px;
    margin: 0;
    background-color: white;
  }
  nav a:hover {
    background-color: gray;
    transition: linear 0.5s;
  }
  .landing-space {
    margin-top: 10vh;
    width: 100vw;
  }
  .landing-space h1 {
    font-size: 3rem;
  }
  .about-pane {
    display: flex;
    flex-direction: column;
  }
  .about-pane-one {
    width: 90vw;
  }
  .about-pane-one img {
    width: 85vw;
  }
}

/* ABOUT PANE */
.about-side {
  width: 90vw;
  padding-bottom: 150px;
}
#about {
  text-align: center;
  text-transform: uppercase;
  color: #222;
  font-size: 2.75rem;
  letter-spacing: 5px;
  margin: 50px auto;
  box-sizing: border-box;
}
#about span {
  color: #3fd0d4;
}
.about-pane {
  display: flex;
  margin: 0px 5vw;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}

.about-pane-one img {
  border-spacing: 10px;
  border: 10px double #3fd0d4;
  border-right: 0;
  border-bottom: 0;
  padding: 10px;
  margin: 10px -10px -10px 10px;

  height: 400px;
}
.about-pane-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-left: 40px;
  align-items: flex-start;
}
.about-pane-two h2 {
  font-size: 2.25rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 60px;
}
.about-pane-two p {
  letter-spacing: 1px;
  font-size: 1.05rem;
  line-height: 25px;
}
.about-pane-two button,
.featured-side button {
  color: white;
  background-color: #3fd0d4;
  padding: 10px 20px;
  border: 1px solid #3fd0d4;
  margin: 3px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}
.about-pane-two button:hover,
.featured-side button:hover {
  color: #3fd0d4;
  background-color: white;
  border: 1px solid #3fd0d4;
  transition: linear 0.3s;
}

/* OUR SERVICES */
.services-side {
  background-color: rgb(175, 175, 175, 0.3);
  width: 100vw;
  padding: 75px 5vw;
}
#our-services,
#featured,
#h-gallery,
#h-deals {
  text-align: center;
  text-transform: uppercase;
  color: #222;
  font-size: 2.75rem;
  letter-spacing: 5px;
}
#our-services span,
#featured span,
#h-gallery span,
#h-deals span {
  color: #3fd0d4;
}
.element-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.element {
  width: 30%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 250px;
}
.element i {
  color: #222;
  background-color: #3fd0d4;
  font-size: 3rem;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}
.element h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
}
.element p {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
}

/* FEATURED TOURS */
.featured-side {
  width: 100vw;
  padding: 75px 10vw;
  background-color: white;
}
.grid-layout {
  width: 80vw;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 5%;
}

.grid-element {
  width: 40vw;
  box-shadow: 1px 2px 10px grey;
  padding-bottom: 10px;
}
.grid-element img {
  width: 40vw;
  margin-bottom: 10px;
}
.grid-element h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-left: 10px;

  font: 1.15rem;
}
.grid-element:hover {
  box-shadow: 1px 10px 10px grey;
  transition: linear 0.5s;
}
#country-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
#country {
  display: flex;
  text-transform: capitalize;
  color: #3fd0d4;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 870px) {
  #country-price {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
  }
  #country {
    margin-bottom: 10px;
  }
}
#country i {
  margin-right: 5px;
}
#price {
  color: grey;
  text-transform: capitalize;
}
.featured-side button {
  text-align: center;
  margin: 50px auto;
}

/* OUR GALLERY SIDE */
.our-gallery-side {
  background-color: rgb(175, 175, 175, 0.3);
  padding: 50px 0 0;
}
.our-gallery-side h1 {
  margin-bottom: 50px;
}
.gallery-grid-container {
  display: flex;
  flex-wrap: wrap;
}
.gallery-grid-container img {
  width: 50%;
}
@media screen and (min-width: 870px) {
  .gallery-grid-container img {
    width: 25%;
  }
}

/* HOT DEALS SIDE */
.hot-deals-side {
  background-color: white;
  padding: 75px 0 100px;
}
#h-deals {
  margin-bottom: 50px;
}
.text-button-container {
  margin: 0 auto;

  width: 90vw;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.text-button-container input[type="text"] {
  font-size: 1.5rem;
  border: 2px solid #3fd0d4;
  padding: 10px 5px;
  letter-spacing: 3px;
  margin: 0;
  width: 100%;
}
.text-button-container input[type="button"] {
  border: 2px solid #3fd0d4;
  border-left: 0;
  color: #222;
  text-transform: uppercase;
  background-color: white;
  padding: 10px 20px;
  letter-spacing: 4px;
  font-size: 1.5rem;

  text-align: center;
}
.text-button-container input[type="button"]:hover {
  background-color: #3fd0d4;
  color: white;
  transition: all linear 0.5s;
}

/* FOOTER SIDE */
.footer-side {
  background-color: #222;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10vw;
  align-items: center;
  padding-bottom: 75px;
}
.h-footer {
  text-transform: capitalize;
  letter-spacing: 7px;
  margin: 0 0 2rem;
  text-align: center;
}
.h-footer span {
  color: #3fd0d4;
}
.footer-side i {
  font-size: 1.75rem;
  margin: 10px;
  margin-bottom: 20px;
  animation-name: toggle-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  transition: all linear 3s;
}
.footer-side i:hover {
  background-color: #3fd0d4;
}
.footer-side p {
  letter-spacing: 3px;
  text-transform: capitalize;
  font-size: 1.15rem;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 20px;
}
